<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
  <sitecore>
      <mediaLibrary>
          <mediaTypes>
              <mediaType name="WebP image" extensions="webp">
                  <mimeType>image/webp</mimeType>
                  <forceDownload>false</forceDownload>
                  <sharedTemplate>system/media/unversioned/image</sharedTemplate>
                  <versionedTemplate>system/media/versioned/image</versionedTemplate>
                  <mediaValidator type="Sitecore.Resources.Media.ImageValidator"/>
                  <thumbnails>
                      <generator type="Sitecore.Resources.Media.MediaThumbnailGenerator, Sitecore.Kernel">
                          <extension>webp</extension>
                          <filePath>
                              /sitecore/shell/themes/Standard/Applications/32x32/Document.png
                          </filePath>
                      </generator>
                      <width>150</width>
                      <height>150</height>
                      <backgroundColor>#FFFFFF</backgroundColor>
                  </thumbnails>
                  <prototypes>
                      <media type="Sitecore.Resources.Media.Media, Sitecore.Kernel"/>
                      <mediaData type="Sitecore.Resources.Media.MediaData, Sitecore.Kernel"/>
                  </prototypes>
              </mediaType>
          </mediaTypes>
      </mediaLibrary>

  </sitecore>
</configuration>